@model ResetPasswordDto
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="m-3  alert alert-danger "></div>
		<form asp-action="ResetPassword">
		<input class="text" asp-for="Password" placeholder="NewPassword" required="">
			<input class="text w3lpass" asp-for="ComfirmPassword" placeholder="Confirm Password" required="">
			<div class="wthree-text">
				
				<div class="clear"> </div>
			</div>
			<input type="submit" value="Reset Password">
		</form>
	
	</div>
</div>

@section ValidationSection {

	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

