@model  SignInDto
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
	<div class="agileits-top">
		<div asp-validation-summary="All" class="m-3  alert alert-danger "></div>
		<form asp-action="SignIn">
		
			<input class="text email" asp-for="Email" placeholder="Email" required="">
			<input class="text" asp-for="Password" placeholder="Password" required="">
			
			<div class="wthree-text">
				<label class="anim">
					<input asp-for="RememberMe" class="checkbox" >
					<span>Remember Me?</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNIN">
		</form>
		<p>Don you have account? <a asp-action="SignUp"> Create new account Now!</a></p>
		<p> <a asp-action="ForgetPassword">Forget Password</a></p>
	</div>
</div>


