
@model int

<td>
    <a class="btn btn-warning" asp-action="Details" asp-route-Id="@Model" asp-controller="Employee">Details</a>
</td>
<td>
    <a class="btn btn-success" asp-action="Edit" asp-route-Id="@Model" asp-controller="Employee">Update</a>
</td>

<td>
    <a class="btn btn-danger" asp-action="Delete" asp-route-Id="@Model" asp-controller="Employee">Delete</a>
</td>