
@model CreateEmployeeDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create Employee</h1>

<br />
<br />

<form asp-action="Create">
   

    <div>
        <label class="col-form-label" asp-for="Name">Name</label>
        <input class="form-control" asp-for=Name />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <div>
        <label class="col-form-label" asp-for="Age">Age</label>
        <input class="form-control" asp-for=Age />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>


    <div>
        <label class="col-form-label" asp-for="Email">Email</label>
        <input class="form-control" asp-for=Email />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label class="col-form-label" asp-for="Address">Address</label>
        <input class="form-control" asp-for=Address />
        @* <span asp-validation-for="Address" class="text-danger"></span> *@
    </div>

    <div>
        <label class="col-form-label" asp-for="Phone">Phone</label>
        <input class="form-control" asp-for=Phone />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

       <div>
        <label class="col-form-label" asp-for="Salary">Salary</label>
        <input class="form-control" asp-for=Salary />
        <span asp-validation-for="Salary" class="text-danger"></span>


    </div>


    <div>
        <label class="col-form-label" asp-for="IsActive">IsActive</label>
        <input class="form-check" asp-for=IsActive />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>

    <div>
        <label class="col-form-label" asp-for="IsDeleted">IsDeleted</label>
        <input class="form-check" asp-for=IsDeleted />
        <span asp-validation-for="IsDeleted" class="text-danger"></span>
    </div>


    <div>
        <label class="col-form-label" asp-for="HiringDate">HiringDate</label>
        <input class="form-control" asp-for=HiringDate />
        <span asp-validation-for="HiringDate" class="text-danger"></span>
    </div>

    <div>
        <label class="col-form-label" asp-for="CreateAt">CreateAt</label>
        <input class="form-control" asp-for=CreateAt />
        <span asp-validation-for="CreateAt" class="text-danger"></span>
    </div>
    <div class="my-3">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a class="btn btn-light"  asp-action="Index">Back To List</a>
    </div>
 
</form>

@section validationSection{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}