    @model UserToReturnDto

<div>
    <label class="col-form-label" asp-for="UserName">UserName</label>
        <input class="form-control" asp-for=UserName />
    <span asp-validation-for="UserName" class="text-danger"></span>
    </div>


    <div>
    <label class="col-form-label" asp-for="FirstName">FirstName</label>
    <input class="form-control" asp-for=FirstName />
    <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
<div>
    <label class="col-form-label" asp-for="LastName">LastName</label>
    <input class="form-control" asp-for=LastName />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>

    <div>
        <label class="col-form-label" asp-for="Email">Email</label>
        <input class="form-control" asp-for=Email />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

 
