@model RoleToReturnDto
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Role</h1>
<br />
<br />


<form asp-action="Delete">
  

    <partial name="RolePartialView/_DetailsDeletePartialView"></partial>
   
    <div class="my-3">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-light" asp-action="Index">Back To List</a>
    </div>

</form>



