
@model RoleToReturnDto

<div>
    <label class="col-form-label" asp-for="Id">Id</label>
    <input class="form-control" asp-for=Id readonly />

</div>


<div>
    <label class="col-form-label" asp-for="Name">Name</label>
    <input class="form-control" asp-for=Name readonly />

</div>

