@model Department
<div class="my-3">
    <label class="col-form-label" asp-for="Code">Code</label>
    <input class="form-control" asp-for=Code readonly />

</div>

<div>
    <label class="col-form-label" asp-for="Name">Name</label>
    <input class="form-control" asp-for=Name readonly />

</div>

<div>
    <label class="col-form-label" asp-for="CreateAt">CreateAt</label>
    <input class="form-control" asp-for=CreateAt readonly />
</div>
